<section id="experience" class="section-container">
  <h1 class="section-title" data-aos="fade-up">Experience</h1>

  <div class="grid md:grid-cols-2 gap-8">
    <div data-aos="fade-up" data-aos-duration="800">
      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">AI Intern</h4>
        <p class="text-slate"><a href="https://www.fibre2fashion.com">Cyphen Innovation</a> • May 2025 - July 2025
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>Engineered an AI-powered health assistant with 92 percent accuracy in symptom analysis.</li>
          <li>Integrated ML-based personalized recommendations, boosting user engagement by 35 percent.</li>
          <li>Reduced chatbot response time by 40 percent through efficient data processing.</li>
          <li>Scaled the system to handle 10,000+ queries while maintaining 85 percent precision rate.</li>
        </ul>
      </div>
      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">AI Internship (LLM model Trainer)</h4>
        <p class="text-slate"><a href="https://www.fibre2fashion.com">TechSaksham (Microsoft and SAP)</a> • December 2024 - January 2025
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>Engineered an AI-powered health assistant with 92 percent accuracy in symptom analysis.</li>
          <li>Integrated ML-based personalized recommendations, boosting user engagement by 35 percent.</li>
          <li>Reduced chatbot response time by 40 percent through efficient data processing.</li>
          <li>Scaled the system to handle 10,000+ queries while maintaining 85 percent precision rate.</li>
        </ul>
      </div>
    </div>
  </div>
</section>